.nav {
    position: fixed;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 64px;
    background-color: aquamarine;
    z-index: 100;
}