body {
    font-family: Lato, Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

 /* h2,h3 {
    color: #f09618;
    font-family: Roboto+Mono, Arial, sans-serif;
  } */

header {
    background-color: #e8820d;
    color: #fff;
    text-align: center;
    padding: 0px;
  }

/* p{
    font-size: 18px;
    text-align: center;
    line-height: 2;
  } */
  
main {
      text-align: center;
      padding: 20px;
    }
  
#about-first {

      display: display-block;
      margin-bottom: 80px;
      margin-top: 50px;
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 65%;
    }
.hero-image {
      background: url(/about-images/Header2.jpg) no-repeat center; 
      background-size: cover;
      height: 700px;
      position: relative;
  }
.hero-text {
        text-align:center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: rgb(255, 255, 255);
        font-size: 30px;
        line-height: 0%;
        font-family: Merienda, Arial, sans-serif;
}
  
#textimg {
        font-size: 50px;
}
  
#slogan {
        color:#ffffff;
}  

.test {
     margin-bottom: 50px;
     margin-top: 40px;
}

.container {
        display: flex;
        height: 100px;
        width: auto;
        flex-wrap: wrap;
        justify-content: center; 
        margin-bottom: 500px;     
}

.product {

     width: 400px;
     margin: 10px;
     text-align: center;
     line-height: 1px;
     font-size: 20px;
}
    
.product img {
        width: 80%;
        border-radius: 8px;
        margin-bottom: 0px;
}
    
.text-test {
  margin-top: 20px;
  line-height: 2;

}