body {
    width: 100%;
    height: 100vh;
}

.content {
    position: absolute;
    margin-top: 64px;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
  }
  .menu {
    width: 100%;
    height: 5px;
    background-color: #d9bba9;
    margin: 6px 0;
}

.menu-wrapper {
    cursor: pointer;
    width: 35px;
}
