.container-home {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 0%;
    min-height: 100vh;
}

.content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
}

.main {
    height: 5rem;
    padding-top: 20rem;
    width: 100%;
    min-height: 45rem;
    background-image: url(/images/Home-img-01.jpg);
    background-size: cover;
    margin-bottom: 40px;
}

.h1 {
    color: black;
}

.product-table {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4%;
    margin-bottom: 40px;
}

.link-cover {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 48%;
    min-height: 300px;
    height: 100%;
    background-image: url(/images//woman.jpg);
    background-size: cover;
}
.product-top {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: start;
    justify-content: start;
    padding-top: 0px;
    padding-left: 40px;
}
.product-bot {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: end;
    justify-content: start;
    padding-top: 00px;
    padding-left: 40px;
}

.alt-img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gender {
    position: relative;
}

.shop-now {
    position: relative;
}



.heading-left {
    width: 100%;
    height: 20px;
    position: relative;
    display: flex;
    justify-content: start;
    align-self: start;
}

.slider-content {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1%;
    margin-bottom: 40px;
    margin-top: 20px;
}

.product-link {
    width: 24%;
    height: auto;
    text-decoration: none;
}
.product-img {
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    overflow: hidden;
    border-radius: 10px;
}
.product-name {
    text-decoration: none;
    color: #d9bba9;
}
.price {
    text-decoration: none;
    color: #d9bba9;
}

a {
    text-decoration: none;
}

.form-centre {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.success {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
    height: 100vh;
    width: 50%;
    background-color: #f2f2f2;
}

.success-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.menu {
    width: 100%;
    height: 5px;
    background-color: #d9bba9;
    margin: 6px 0;
}

.menu-wrapper {
    cursor: pointer;
    width: 35px;
}

.sorting-options {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.sorting-options label {
    margin-right: 10px;
    font-weight: bold;
}

.sorting-options select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}